// This is your Prisma schema file,
// learn more about it in the docs: https://pris.ly/d/prisma-schema

// Get a free hosted Postgres database in seconds: `npx create-db`

generator client {
    provider = "prisma-client-js"
}

datasource db {
    provider = "mysql"
}

model MainItem {
    /// 主键ID
    id Int @id @default(autoincrement())

    /// 菜品名称
    name String @db.VarChar(63)

    /// 菜品介绍
    description String? @db.Text

    /// 菜品单价
    priceCents Int

    /// 图片源
    imageUrl String? @db.VarChar(255)

    /// 是否可用
    isAvailable Boolean @default(true)

    /// 创建时间
    createdAt DateTime @default(now())

    @@map("general_items")
}

model SubItem {
    /// 主键ID
    id Int @id @default(autoincrement())

    /// 子项名称
    name String @db.VarChar(63)

    /// 子项单价
    priceCents Int

    /// 创建时间
    createdAt DateTime @default(now())

    @@map("sub_items")
}

model User {
    /// 主键ID
    id Int @id @default(autoincrement())

    /// 邮箱（登录用）
    email String @unique @db.VarChar(255)

    /// 密码（加密后）
    passwordHash String @db.VarChar(255)

    /// 昵称
    name String @db.VarChar(100)

    /// 手机号
    phone String @db.VarChar(20)

    /// 备用手机号
    phone2 String? @db.VarChar(20)

    /// 地址
    addresses Address[]

    /// 是否激活
    isActive Boolean @default(true)

    /// 创建时间
    createdAt DateTime @default(now())

    /// 更新时间
    updatedAt DateTime @updatedAt

    @@map("users")
}

model Address {
    id Int @id @default(autoincrement())

    userId Int
    user User @relation(fields: [userId], references: [id])

    /// 用户看到的地址
    fullAddress String @db.VarChar(255)

    /// Google 唯一ID
    googlePlaceId String @db.VarChar(255)

    /// 经纬度
    latitude Float
    longitude Float

    /// 是否默认
    isDefault Boolean @default(false)

    createdAt DateTime @default(now())

    @@map("addresses")
}